.text-selected.icon{
  color: #3b00dd;
}

.text-selected{
  color: #680ced;
}

.bg-app-primary{
  background-color: #6200ee;
}

.bg-app-primary.light{
  background-color: #f0ebfc;
}

body{
  margin: 0;
  padding: 0;
}

.text-light{
  color: #fff!important;
}